Source: slimbook-hardware-quirks
Section: utils
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (=13)
Standards-Version: 4.6.0
Homepage: https://github.com/Slimbook-Team/slimbook-hardware-quirks

Package: slimbook-quirk-elemental-audio
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Elemental 15 headphone quirk
 This pin retask quirk allows Elemental 15 to use headphone with microphone combos

Package: slimbook-quirk-i8042-wakeup
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Fix spurious wakes from keyboard
 This udev rule configures i8042 keyboard device to be ignored as wakeup source
